<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Kursus</title>
</head>
<body>
    <h2>Tambah Kursus</h2>
    <div>tambah kursus di sini</div>
    <form action="" method="post">
        <label for="tanggalpendaftaran">Tanggal Pendaftaran</label>
        <br>
        <input type="date" name="tgl_pendaftaran">
        <br>
        <label for="nama">Nama</label>
        <br>
        <input type="text" name="nama" placeholder="isi nama">
        <br>
        <label for="alamat">Alamat</label>
        <br>
        <input type="text" name="alamat" placeholder="isi alamat">
        <br>
        <label for="telp">nomor telpon</label>
        <br>
        <input type="tel" name="telp">
        <br>
        <label for="jeniskelamin">Jenis Kelamin</label>
        <br>
        <select name="jeniskelamin" id="jeniskelamin">
            <option value="Laki-Laki">Laki-Laki</option>
            <option value="Perempuan">Perempuan</option>
        </select>
        <br>
        <label for="jeniskursus">Jenis Kursus</label>
        <br>
        <select name="jeniskursus" id="jeniskursus">
            <option value="Kursus Web Programming">Kursus Web Programming</option>
            <option value="Kursus Bahasa Java">Kursus Bahasa Java</option>
            <option value="Kursus Bahasa Python">Kursus Bahasa Python</option>
        </select>
        <br>
        <input type="submit" value="Tambahkan Kursus">
    </form>
</body>
</html>